@import './_base.scss';
.carBox {
    width: 100%;
    height: 100%;
    padding-bottom: .8rem;
    box-sizing: border-box;
    overflow-y: scroll;
    @include scroll;
    .imgBox {
        position: relative;
        height: 3.29rem;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
        }
        span {
            position: absolute;
            bottom: .3rem;
            right: .3rem;
            color: #fff;
            padding: 1px .1rem;
            border-radius: .2rem;
            background: rgba(0, 0, 0, .6);
            font-size: .24rem;
        }
    }
    .info {
        width: 100%;
        height: 1.4rem;
        border-bottom: .15rem solid #f4f4f4;
        @include flex;
        p {
            @include flex;
            flex-direction: column;
            padding: 0 .3rem;
            span {
                display: block;
                font-size: .36rem;
                color: red;
                &:nth-child(2) {
                    font-size: .26rem;
                    color: silver;
                }
            }
        }
        .action {
            flex: 1;
            height: 60%;
            @include flex;
            margin: 0 .4rem 0 .8rem;
            background: #00afff;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            justify-content: center;
        }
    }
    .footer {
        width: 100%;
        height: .9rem;
        padding: .1rem 0;
        box-sizing: border-box;
        background: #00afff;
        position: fixed;
        bottom: 0;
        left: 0;
        p {
            text-align: center;
            color: #fff;
            &:nth-child(1) {
                font-size: .28rem;
            }
            &:nth-child(2) {
                font-size: .24rem;
            }
        }
    }
}
