@import './_base.scss';
.wrapx {
    width: 100%;
    height: 100%;
    p {
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        font-size: .32rem;
        box-sizing: border-box;
        color: #00afff;
    }
    .title {
        padding-left: .2rem;
        border-top: 4px solid #ccc;
        line-height: .76rem;
        height: .76rem;
        background: #fff;
        overflow-y: hidden;
        overflow-x: scroll;
        @include flex;
        span {
            flex: 1;
            flex-shrink: 0;
            margin: 0 .2rem;
            font-size: .32rem;
        }
    }
    ul {
        @include wh(100%, 100%);
        border-top: 4px solid #ccc;
        @include flex;
        flex-wrap: wrap;
        background: #fff;
        padding: 0 .1rem;
        box-sizing: border-box;
        li {
            width: 45%;
            font-size: .32rem;
            line-height: .68rem;
            border: 1px solid #3aacff;
            box-sizing: border-box;
            margin: .2rem 0;
            border-radius: .05rem;
            @include flex;
            b {
                display: inline-block;
                width: .4rem;
                height: .4rem;
                margin: 0 .4rem;
            }
            span {
                flex: 1;
                text-align: left;
                font-size: .28rem;
            }
        }
    }
}