@import './_base.scss';
.typeBox {
    @include wh(100%, 100%);
}

div.txp {
    width: 100%;
    border-bottom: 4px solid #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: .36rem;
    color: #00afff;
}

p.year {
    width: 100%;
    height: 30px;
    line-height: 30px;
    span {
        font-size: .28rem;
        margin: 0 .2rem;
        &.on {
            color: #00afff;
        }
    }
}

h1 {
    padding: 0 .2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .24rem;
    color: #666;
    background: #eee;
}

li {
    margin: 0 .2rem;
    padding: .28rem .06rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 1.25rem;
    line-height: 1;
    p:first-child {
        span {
            &:nth-child(1) {
                font-size: .3rem;
                width: 5rem;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &:nth-child(2) {
                float: right;
                color: red;
                font-size: .26rem;
            }
        }
    }
    p:last-child {
        margin-top: .01rem;
        span {
            &:nth-child(1) {
                width: 5rem;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: #818181;
            }
            &:nth-child(2) {
                color: #818181;
                float: right;
            }
        }
    }
}